.row.slider-wrapper
  %ul.slider
    %li.slide
      %div.large.col-xs-12.col-sm-8.col-lg-6
        %a{href:'#'}
          %img{alt: '', src: '/assets/54.jpg'}/
      %div.col-sm-4.col-lg-3.hidden-xs
        %a{href:'#'}
          %img{alt: '', src: '/assets/53.jpg'}/
        %a{href:'#'}
          %img{alt: '', src: '/assets/389.jpg'}/
      %div.col-md-3.col-lg-3.hidden-xs.hidden-sm.hidden-md
        %a{href:'#'}
          %img{alt: '', src: '/assets/58.jpg'}/
        %a{href:'#'}
          %img{alt: '', src: '/assets/902.jpg'}/
    %li.slide.hidden
      %div.col-xs-6.col-sm-4.col-lg-3
        %a{href:'#'}
          %img{alt: '', src: '/assets/903.jpg'}/
        %a{href:'#'}
          %img{alt: '', src: '/assets/7555.jpg'}/
      %div.col-xs-6.col-sm-4.col-lg-3
        %a{href:'#'}
          %img{alt: '', src: '/assets/2252.jpg'}/
        %a{href:'#'}
          %img{alt: '', src: '/assets/2553.jpg'}/
      %div.col-sm-4.col-lg-3.hidden-xs
        %a{href:'#'}
          %img{alt: '', src: '/assets/6290.jpg'}/
        %a{href:'#'}
          %img{alt: '', src: '/assets/6979.jpg'}/
      %div.col-md-3.col-lg-3.hidden-xs.hidden-sm.hidden-md
        %a{href:'#'}
          %img{alt: '', src: '/assets/7556.jpg'}/
        %a{href:'#'}
          %img{alt: '', src: '/assets/15775.jpg'}/
  %a.previous{href:'#'}
  %a.next{href:'#'}
